<% layout('layouts/boilerplate.ejs') -%>
<h1 class="my-3">Coffee Shops</h1>

<a href="/coffeeshops/new">
  <button class="btn btn-light fs-5">Add new coffee shop</button></a
>

<ul>
  <% for (let shop of coffeeshops) { %>
  <div class="card mt-3">
    <div class="row">
      <div class="col-md-4">
        <img
          src="<%=shop.image.url%> "
          class="card-img-top mt-3"
          alt="<%=shop.title%> "
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=shop.title%></h5>
          <p class="card-text"><%=shop.description%></p>
          <p class="text-muted"><%=shop.location%></p>
          <a href="/coffeeshops/<%=shop._id%> " class="btn btn-info">View</a>
        </div>
      </div>
    </div>
  </div>

  <% } %>
</ul>
