<% layout('layouts/boilerplate.ejs') -%>

<div class="col-md-6 offset-2">
  <div class="card mt-4">
    <img
      class="card-img-top"
      src="<%=coffeeshop.image%> "
      alt="Image of <%=coffeeshop.title%>"
    />
    <div class="card-body">
      <h5 class="card-title"><%=coffeeshop.title%></h5>
      <p class="card-text"><%=coffeeshop.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-muted"><%=coffeeshop.location%></li>
    </ul>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">$<%=coffeeshop.price%> per beverage</li>
    </ul>
    <div class="card-body">
      <a
        class="card-link d-inline"
        href="/coffeeshops/<%=coffeeshop._id%>/edit"
      >
        <button class="btn btn-info">Edit</button></a
      >

      <form
        action="/coffeeshops/<%=coffeeshop._id%>?_method=DELETE"
        method="POST"
        class="d-inline"
      >
        <button class="btn btn-danger">Delete</button>
      </form>

      <a class="card-link d-inline" href="/coffeeshops"
        ><button class="btn btn-secondary">Back to all</button></a
      >
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</div>
